[submodule "bsp"]
	path = bsp
	url = git@github.com:Arthur264/loiterix-allwinner-bsp.git
	branch = cubie-aiot-v1.4.8
[submodule "device-a733"]
	path = device-a733
	url = git@github.com:Arthur264/loiterix-allwinner-device.git
	branch = device-a733-v1.4.8
[submodule "src"]
	path = src
	url = git@github.com:Arthur264/loiterix-allwinner-kernel.git
	branch = allwinner-aiot-linux-6.6
